@import "bootstrap-sprockets";
@import "bootstrap";
<<<<<<< HEAD
@import "bootstrap/theme";

body {
  background-color: #F0F0F0;
}

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
  color: #DA70D6;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}

.navbar .nav > ul > li {
  float: left;
}

div .nav_item {
  margin-left: 25px;
  float: left;
}
=======
@import "bootstrap/theme";
>>>>>>> 62f0cf85eb1c64b8c5d23fabfd6dc6ecdb35b0c6
